{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="text-center">
        <h1>Bienvenue sur notre site</h1>
        <div class="mt-4">
            <a href="{{ path('app_register') }}" class="btn btn-primary me-3">S'inscrire</a>
            <a href="{{ path('app_login') }}" class="btn btn-success">Se connecter</a>
        </div>
    </div>
</div>
{% endblock %}
